# : comments
# no .a files
# but do track lib.a, even though you're ignoring .a files above 		
# !lib.a
# only ignore the TODO file in the current directory, not subdir/TODO 	
# /TODO
# ignore all files in the build/ directory 								
# build/
# ignore doc/notes.txt, but not doc/server/arch.txt
# doc/*.txt
# ignore all .pdf files in the doc/ directory
# doc/**/*.pdf

gui_basic/
gui_project/
rpa_basic/
rpa_project/
webscraping_basic/
webscraping_project/
data/
logs/
images/
cache/
pytest/
__pycache__/
.pytest_cache/
**/data/
**/logs/
**/images/
**/cache/
**/pytest/
**/__pycache__/
**/.pytest_cache/
*.exe
*.gif
*.jpg
*.png
*.mp3
*.mp4
*.pdf
*.xls
*.xlsx
*.webm
*.json
**/*.exe
**/*.gif
**/*.jpg
**/*.png
**/*.mp3
**/*.mp4
**/*.pdf
**/*.xls
**/*.xlsx
**/*.webm
**/*.json



